language: node_js

node_js:
  - "0.10"

notifications:
  irc:
    channels:
      - "irc.mozilla.org#talkilla"
    use_notice: false
    skip_join: true
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch} - %{commit}: %{author}): %{message} %{build_url}"
  email:
    - talkilla-travis-results@mozilla.com
    - on_success: change
    - on_failure: change

before_install:
  - export DISPLAY=:99.0
  - export PATH=$PATH:$HOME/.local/bin
  - sh -e /etc/init.d/xvfb start
  - pip install --install-option="--prefix=$HOME/.local" -r require.pip --use-mirrors

# The /check url below will check to see if the repository is updated and deploy
# if necessary.
after_success:
  - if [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then
      echo "This is a pull request, not requesting deployment";
      exit 0;
    fi
  - if [[ "$TRAVIS_BRANCH" != "master" ]]; then
      echo "Non-master branch, not requesting deployment";
      exit 0;
    fi
  - echo "Requesting deployment"
  - curl --data '' http://talkilla-deployer.mozillalabs.com/check
