/**
 * Sidebar
 */
.sidebar {
  background: #f8fafc;

  /* when loaded as a panel, size the panel so that the whole thing
   * is displayed, not just a scrollable subsection.
   */
  overflow: visible;
}

.sidebar header {
  padding: 0 10px;
}

.sidebar a {
  line-height: 30px;
  text-decoration: underline; /* override bootstrap's default */
  color: #818A8F; /* match the header */
}

.sidebar > #subpanels .nav {
  margin-bottom: 5px;
}

.sidebar #login p {
  padding-top: 10px;
}

.sidebar #signin {
  border: none;
  width: 100%;
  height: 30px; /* XXX: decide for a standard height for the SPA login iframe */
}

.sidebar #signin img {
  width: 185px;
  height: 25px;
}

.sidebar #subpanels .tab-content {
  min-height: 50px;
}

.sidebar #subpanels > ul.nav-tabs > li {
  float: right;
}

.sidebar #subpanels > ul.nav-tabs > li>a {
  height: 10px;
  width: 10px;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
}

/* Hide the text in the tab headers */
.sidebar #subpanels > ul.nav-tabs > li > a > span {
  display: none;
}

.sidebar #contact-tab > a {
  background-image: url('/img/clock_default.png');
}
.sidebar #contact-tab.active > a {
  background-image: url('/img/clock_clicked.png');
}
.sidebar #dialin-tab > a {
  background-image: url('/img/phone_default.png');
}
.sidebar #dialin-tab.active > a {
  background-image: url('/img/phone_clicked.png');
}
.sidebar #gear-menu-tab > a {
  background-image: url('/img/gear_default.png');
}
.sidebar #gear-menu-tab.active > a {
  background-image: url('/img/gear_clicked.png');
}

.sidebar #gear-menu ul li {
  list-style-type: none;
}

.sidebar #pstn-dialin, .sidebar #gear-menu {
  padding: 10px 0 0 0;
  text-align: center;
}

.sidebar #pstn-dialin form {
  margin-bottom: 8px;
}

.sidebar #pstn-dialin input {
  width: 220px;
  font-size: 13px;
  padding-top: 5px;
}

.sidebar #pstn-dialin button {
  margin-top: 10px;
  width: 220px;
}

.sidebar .title {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
  color: #818A8F;
}

.sidebar .users {
  overflow: auto;
}

.sidebar .users li .active,
.sidebar .users li .active:hover {
  background: #E5E5E5;
}

.sidebar .users li a {
  clear: left;
  color: #7b8893;
  padding: 10px;
  text-decoration: none;
  line-height: 36px;
  border-bottom: 1px solid #e3e5e6;
}

.sidebar .users li a:hover {
  background: #d8e6ef;
}

.sidebar .users li a .avatar {
  float: left;
  position: relative;
}

.sidebar .users li a img {
  width: 32px;
  height: 32px;
}

.sidebar .users li a .user-entry-details {
  display: block;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar .users li a .user-entry-details p {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.sidebar .users li a .user-entry-details .username {
  font-weight: bold;
}

.sidebar .users li a .user-entry-details .address-info {
  color: #b5bcc3;
}

.sidebar .status {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 4px;
  right: -4px;
  border-radius: 4px;
  z-index: 1;
}

.sidebar .status-connected {
  background: #25CA50;
}

.sidebar .status-disconnected {
  display: none;
}

.sidebar footer {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e3e5e6;
}

.sidebar footer p {
  margin: 10px 0;  /* override bootstrap to set top & bottom margins the same */
}

.login-iframe-container {
  /* Comfortable space above; enough above+below to fill panel */
  padding: 12px 10px;
}
.login-iframe-container:empty {
  /* No need for extra padding, since we're not visible */
  padding: 0;
}

#link-share {
  margin-top: 5px;
}

#link-share-input {
  /* override bootstrap defaults to making uneditable backgrounds red */
  background-color: #FFFFFF;
}

