.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.hide {
  display: none;
}

/**
 * Sidebar
 */
.sidebar {
  background: #FAF8F4;
}
  .sidebar header {
    padding-left: 20px;
    background: #F5F1E8;
    border-bottom: 1px solid #ccc;
  }
    .sidebar .title {
      margin-top: 0;
      font-size: 20px;
      font-weight: normal;
      color: #818A8F;
    }
  .sidebar .users {
    overflow: auto;
  }
    .sidebar .users li a {
      color: #818A8F;
      padding-left: 20px;
      text-decoration: none;
      line-height: 36px;
      border-bottom: 1px solid #ccc;
    }
    .sidebar .users li a:hover,
    .sidebar .users li .active {
      background: #eee url('../img/video-icon.png') no-repeat 2px 15px;
    }

/**
 * Chat window
 */
video {
  width: 100%;
}
.video-area {
  position: relative;
  background: #eee;
}
#controls {
  float: right;
}
.remote-video {
  width: 100%;
  max-height: 300px;
  z-index: 0;
}
.local-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  z-index: 1;
  background: #777;
}

/**
 * Notifications
 */
.alert .btn-cancel {
  float: right;
}

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
