.hide {display:none;}
video {width:100%; max-height:300px; background: #000}
#controls {text-align:right;}
#video {position:relative; width:100%;}
#remote-video {width:100%; max-height:300px; background:#000; z-index:0;}
#local-video {position:absolute; top:0; left:0; width:160px; z-index:1; background:#777;}
