.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.hide {
  display: none;
}

/**
 * Sidebar
 */
.sidebar {
  background: #fdfdfd;
}

.sidebar header {
  padding: 0 10px;
  background: #F5F1E8;
  border-bottom: 1px solid #ccc;
}

.sidebar .title {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
  color: #818A8F;
}

.sidebar .users {
  overflow: auto;
}

.sidebar .users li .active,
.sidebar .users li .active:hover {
  background: #E5E5E5;
}

.sidebar .users li a {
  clear: left;
  color: #818A8F;
  padding-left: 10px;
  text-decoration: none;
  line-height: 36px;
  border-bottom: 1px solid #eee;
}

.sidebar .users li a:hover {
  background: #FFFDE9;
}

.sidebar .users li a .avatar {
  float: left;
  position: relative;
}

.sidebar .users li a img {
  width: 24px;
  height: 24px;
}

.sidebar .users li a .username {
  padding-left: 10px;
}

.sidebar .status {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 4px;
  right: -4px;
  border-radius: 4px;
  z-index: 1;
}

.sidebar .status-connected {
  background: #25CA50;
}

.sidebar .status-disconnected {
  background: red;
}

/**
 * Pending (i.e. offer & establish) views in the chat window
 */
.pending {
  padding: 40px 10px 0 10px;
  text-align: center;
}

.pending .avatar {
  text-align: center;
}

.pending .avatar img {
  width: 64px;
  height: 64px;
}

.pending .incoming-info {
  color: #555;
  font-size: 90%;
}

/**
 * Chat window
 */
#call video {
  width: 100%;
}

#call .video-area {
  position: relative;
  background: #eee;
  overflow: hidden;
}

#call .remote-video {
  height: 193px;
  margin: -35px 0;
  padding-top: 20px;
  z-index: 0;
}

#call .local-video {
  position: absolute;
  bottom: 0;
  height: 25%;
  right: -11px;
  width: 25%;
  z-index: 1;
}

#call-controls {
  background-color: #FAFAFA;
  border-bottom: 1px solid #d6d6d6;
  top: 0;
  width: 100%;
  height: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#call-controls .controls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#call-controls .controls li {
  height: 24px;
  padding: 0 4px;
  float: left;
  border-right: 1px solid #d6d6d6;
}

/**
 * Notifications
 */
.alert .btn-cancel {
  float: right;
}

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Text chat window */
#textchat {
  font-size: 80%;
}

#textchat ul {
  height: 74px;
  overflow: scroll;
  padding-left: 0;
  margin-left: 5px;
}

#textchat form {
  position: fixed;
  width: 100%;
  bottom: -29px;
}

#textchat form input[type="text"] {
  border-radius: 0;
  width: 100%;
  font-size: 12px;
}
