<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="icon">
  <link href="vendor/bootstrap-2.1.1/css/bootstrap.css" rel="stylesheet">
  <link href="vendor/bootstrap-2.1.1/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" media="all" href="css/common.css">
  <link rel="stylesheet" media="all" href="css/chat.css">
</head>
<body>
  <!-- Call Controls -->
  <div id="call-controls">
    <ul class="controls">
      <li class="btn-video"><a href="#" title="Start a video call"></a></li>
      <li class="btn-audio"><a href="#" title="Start an audio call"></a></li>
      <li class="btn-hangup hide"><a href="#" title="Hang up"></a></li>
      <li class="btn-microphone-mute hide"><a href="#" title="Mute microphone"></a></li>
      <li class="btn-speaker-mute hide"><a href="#" title="Mute peer's audio"></a></li>
    </ul>
  </div>

  <!-- Notifications -->
  <div id="notifications"></div>
  <!-- /Notifications -->

  <!-- Call Offer -->
  <div id="offer" class="pending hide">
    <p class="avatar">
      <img src="img/default-avatar.png" id="offerAvatar">
    </p>
    <p class="incoming-info">
      <span class="media-icon"></span>
      <span class="incoming-text">Incoming call…</span>
    </p>
    <p class="actions">
      <a class="btn btn-success btn-accept">Accept</a>
      <a class="btn btn-danger btn-ignore">Ignore</a>
    </p>
  </div>
  <!-- /Call Offer -->

  <!-- Call Establish -->
  <div id="establish" class="pending hide">
    <p class="avatar">
      <img src="img/default-avatar.png" id="establishAvatar">
    </p>
    <p class="outgoing-info">
      <span class="media-icon"></span>
      <span class="text"></span>
    </p>
    <p class="actions">
      <a class="btn btn-danger btn-abort">End Call</a>
      <a class="btn btn-danger btn-call-again hide">Call Again</a>
   </p>
  </div>
  <!-- /Call Establish -->

  <!-- Call view -->
  <div id="call">
    <div class="media-display-area hide">
      <video id="remote-media" class="remote-media"></video>
      <video id="local-media" class="local-media" muted></video>
    </div>
  </div>
  <!-- /Call view -->

  <!-- TextChat view -->
  <div id="textchat">
    <ul></ul>
    <form>
      <input type="text" name="message" placeholder="Type something to start chatting">
      <button type="submit" class="hide">Send</button>
    </form>
  </div>
  <!-- /TextChat view -->

  <!-- Templates -->
  <script type="text/template" id="file-transfer-tpl">
    <strong><%= nick %></strong>:
    <div class="media">
      <img class="media-object pull-left" src="/img/file-icon.png">
      <div class="media-body">
        <h4 class="media-heading"><%= filename %></h4>
        <% if (progress < 100) { %>
          <div class="progress progress-striped active">
            <span><%= app.utils.humanSize(sent) %> of <%= app.utils.humanSize(total) %></span>
            <div class="bar" style="width:<%= progress %>%"></div>
          </div>
        <% } else if (incoming) { %>
          <p><%= app.utils.humanSize(total) %> received.
             <a href="<%= url %>" download="<%= filename %>">Save</a></p>
        <% } else { %>
          <p>Sent.</p>
        <% } %>
      </div>
    </div>
  </script>
  <!-- /Templates -->

  <script src="vendor/jquery-1.9.1.js"></script>
  <script src="vendor/jquery.cookie-1.3.1.js"></script>
  <script src="vendor/underscore-1.4.4.js"></script>
  <script src="vendor/backbone-1.0.0.js"></script>
  <script src="vendor/bootstrap-2.1.1/js/bootstrap.js"></script>
  <script src="vendor/state-machine-2.2.0.js"></script>
  <script src="vendor/tnetbin-0.2.1.js"></script>
  <script src="/config.js"></script>
  <script src="js/webrtc.js"></script>
  <script src="js/payloads.js"></script>
  <script src="js/app.js"></script>
  <script src="js/chat/app.js"></script>
  <script src="js/port.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/models.js"></script>
  <script src="js/chat/models.js"></script>
  <script src="js/views.js"></script>
  <script src="js/chat/views.js"></script>
  <script>
    jQuery(function($) {
      app.start(loadConfig());
      window.chatApp = new ChatApp();
   });
  </script>
</body>
</html>
