<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <title>Talkilla</title>
</head>
<body ng-controller="AppController">
  <h1 id="title">Welcome to Talkilla!</h1>
  <form id="loginForm" ng-submit="login()">
    <p>
      Please enter a nickname to use with Talkilla:
      <input id="nick" name="nick" type="text" ng-model="nick" required>
      <input id="submit" type="submit">
    </p>
    <p id="invite" style="display: none">
      You are the only person logged in, invite your friends.
    </p>
  </form>
  <ul id="friends">
    <li ng-repeat="user in users">{{user}}</li>
  </ul>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
  <script src="talkilla.js"></script>
</body>
</html>
